.my-avatar {
    width: 24px;
    border-radius: 50%;
}

body {
    background-color: #1A1A1F;
}

.itemx {
    background-color: aqua;
}

.home-menu {
    box-sizing: border-box;
    height: 100%;
    min-width: 215px;
    background-color: #ccc;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products {
    width: 100%;
    // margin-left: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-content: flex-start;
}

.main {
    display: flex;
    background-color: #2D2D33;
    padding: 10px;
    border-radius: 7px;
    height: 620px;
}

.item {
    width: 16%;
    height: 140px;
    background-color: #57575F;
    min-width: 120px;
    padding: 0 7px;
    border-radius: 3px;
}

.mini-avatar {
    width: 100px;
    height: 86px;
    object-fit: cover;
    margin: 0 auto;
    display: block;
}

.card {
    background-color: #222127;
    padding: 10px;
}