<div id="map" class="leaflet-control coordinate">
</div>
<div id="info">
    <div id="cityname">
        Thành Phố Hà Nội
    </div>
    <div>
        <i id="lastUpdate">Cập nhật lần cuối vào</i>
    </div>
    <div class="info1">
        <table class="table1">
            <tr>
                <td>Ca dương tính</td>
                <td style="text-align: right" id="ca-duong-tinh">0</td>
            </tr>
            <tr>
                <td>Ca trong ngày</td>
                <td style="text-align: right" id="ca-duong-tinh-trong-ngay">0</td>
            </tr>
            <tr>
                <td>Ca tử vong</td>
                <td style="text-align: right" id="ca-tu-vong">0</td>
            </tr>
            <tr>
                <td>Ca hồi phục</td>
                <td style="text-align: right" id="ca-hoi-phuc">0</td>
            </tr>
        </table>
        <table>
            <tr>
                <td>Dân số</td>
                <td style="text-align: right" id="dan-so">0</td>
            </tr>
            <tr>
                <td>Tiêm mũi 1</td>
                <td style="text-align: right" id="tiem-mui-1">0</td>
            </tr>
            <tr>
                <td>Tiêm mũi 2</td>
                <td style="text-align: right" id="tiem-mui-2">0</td>
            </tr>
            <tr>
                <td>Tiêm mũi 3</td>
                <td style="text-align: right" id="tiem-mui-3">0</td>
            </tr>
        </table>
    </div>
    <div id="ttqh" class="scrollbar" id="style-2">
        <div class="dflex-spaceb thead">
            <div><b>ĐỊA PHƯƠNG</b></div>
            <div><b>CA DƯƠNG TÍNH</b></div>
        </div>
        <div id="thong-tin-quan-huyen">

        </div>
    </div>
    {{!-- <p>Click the button to get your coordinates.</p>

    <button onclick="getLocation()">Try It</button>

    <p id="demo"></p> --}}


    <!-- leaflet js  -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/js/script.js"></script>

    <script>
        var x = document.getElementById("demo");
        function getLocation() {
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(showPosition);
            } else {
                x.innerHTML = "Geolocation is not supported by this browser.";
            }
        }

        function showPosition(position) {
            x.innerHTML = "Latitude: " + position.coords.latitude +
                "<br>Longitude: " + position.coords.longitude;
            map.flyTo([position.coords.latitude, position.coords.longitude]);
            var me = L.marker([position.coords.latitude, position.coords.longitude], 7).addTo(map);
            //map.removeLayer(me);
        }

    </script>
</div>
<div id="level">
    <div class="lv">
        <div class="boxc" style="background-color: #ED2625"> </div>
        <div>Cấp 4</div>
    </div>
    <div class="lv">
        <div class="boxc" style="background-color: #F36B21"> </div>
        <div>Cấp 3</div>
    </div>
    <div class="lv">
        <div class="boxc" style="background-color: #FEF22F"> </div>
        <div>Cấp 2</div>
    </div>
    <div class="lv">
        <div class="boxc" style="background-color: #43B549"> </div>
        <div>Cấp 1</div>
    </div>
    {{!-- <div class="lv" onclick="addMarkers()">
        <div>Them</div>
    </div>
    <div class="lv" onclick="removeMarkers()">
        <div>Xoa</div>
    </div> --}}
</div>
</div>