<style>
    #root {
        padding: 30px;
        max-height: 100%;
        overflow-y: auto;
    }

    #root * {
        color: #333333;
    }

    .box-stream-avatar {
        border-radius: 7px;
    }

    .box-stream-link-title {
        display: inline-block;
        margin-bottom: 10px;
    }

    .box-stream-item {
        display: flex;
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
    }

    .box-stream-content {
        padding: 0 20px;
    }
</style>



<div id="root">
    {{{html}}}
</div>

<script>

    const aTags = document.querySelectorAll('.box-stream-link-title');

    aTags.forEach(a => {
        console.log(a);
        a.href = a.href.replace('http://localhost:3003', 'http://localhost:3003/news');
    })
</script>